@font-face {
  font-family: 'Andale Mono';
  src: url('../fonts/andale-mono.ttf');
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/avenir-next-bold.ttf');
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/avenir-next-regular.ttf');
  font-style: normal;
  font-weight: 500
}
